<h1><%= @user.user_name %></h1>

<div class="container">
  <% @user.shoes.each do |shoe| %>
    <div class="col-md-3">
      <% image_tag shoe.image.url %>
      <%=shoe.name %>
      <%=shoe.size %>
      <%=shoe.brand %>
    </div>
  <% end %>
</div>
