<h1>kicks</h1>
<div class="shoes-wrapper row">
  <% @shoes.each do |shoe| %>
    <div class="shoe">
      <div class="shoe-head">
        <div class="name">
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag shoe.image.url(:thumb) %>
      </div>
      <p class="notes">
        <%= shoe.notes %>
      </p>
    </div>
  <% end %>
</div>
