
<div class="text-center edit-links">
<div>
    <% image_tag shoe.image.url(:thumb) %>
</div>
  <% if @shoe.user.id == current_user.id %>
    <%= link_to "Cancel", shoes_path %>
    |
    <%= link_to "Edit shoe", edit_shoe_path(@shoe) %>
  <% else %>
    <%= link_to "Cancel", root_path %>
  <% end %>
</div>

