
<div class="text-center edit-links">
<%= @shoe.name %>
<div>
    <%= image_tag @shoe.image.url(:thumb) %>
</div>

    <%= link_to "Cancel", shoes_path %>
    |
    <%= link_to "Edit Shoe", edit_shoe_path %>

</div>

